# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary
*.tmp
*.swp
*.swo
*~
